<!-- Default form login Sourav-->
<!-- my name is anupom -->

<div class="text-center signbody" >
  <div class="formbody">
  <form class="form-signin" [formGroup]="loginForm" >
  <p class="h4 mb-4"> Admin Login Pannel</p>
  <!-- Email -->
  <div id="a1">
  <label>UserEmail</label>
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="email" formControlName="email" required >
  
  <span *ngIf="isValid('email')">email cannot be blank</span>
  </div>
  <!-- Password -->
  <div id="a1">
  <label>Password</label>
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password" required>

  <span *ngIf="isValid('password')">password cannot be blank</span>
    </div>
  <div class="d-flex justify-content-around">
      <div>
          <!-- Remember me -->
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
          </div>
      </div>
      <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
      </div>
  </div>

  <!-- Sign in button -->
  <!-- <button class="btn btn-lg btn-primary btn-block" type="button" (click)="redirectedTo()">log in</button> -->
  <button class="btn btn-info btn-block my-4" type="button" (click)="login()" >Log in</button>
  <!-- <button class="btn btn-info btn-block my-4" (click)="login()" >Login</button> -->
  
  <div id="or-style">
    <h6>OR</h6>
  </div>

  <!-- register -->
  <!-- (click)="movetoregister()" -->
  <div>
    <!-- <div style="width: 290px; padding: 20px;"> -->
        <button class="btn btn-info btn-block my-4" >Register</button>
    <!-- </div> -->
</div>


</form>
<!-- Default form login -->